<div class="container">
<h1>Let's find a movie!</h1>

<div>
<form accept-charset="UTF-8" action="/results" method="post">
	<label for="movie"> </label>
	<input placeholder="" id="movie" name="movie" type="text"/>
	<%= token_tag form_authenticity_token %>
</form>
</div>

<%= link_to 'See all movies', movies_path %>

</div>